.container-ingredient-list {
  max-width: 400px;
  margin: auto;
}

.ingredient-list {
  display: flex;
  justify-content: space-around;

  section {
    h1 {
      color: var(--black-color);
    }
  }
}

.search-container {

  display: flex;
  justify-content: center;
  padding: 40px;

  .search-input {
    width: 560px;
    
  }

}

.ingredients-crossed-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1{
    color: var(--black-color);
  }

  ul {
    color: grey;
    text-decoration: line-through;
  }

  label {
    color: grey;
  }
}